* {
    margin: 0;
    padding: 0;
}

/* Navigation */

#logo {
    font-size: 2.4rem;
}

#navbar {
    transition: all 600ms ease-in-out;
}

/* landing page */

header {
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/computer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#intro2 {
    margin-bottom: 100px;
}

.socialMedia {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.socialLinks {
    transition: all 250ms ease;
}

.socialLinks:hover {
    color: white !important;
}

.downArrow {
    position: absolute;
    top: 90%;
}

i.downArrow {
    font-size: 48pt;
}

/*  ----------------------  about me section ------------------ */

.aboutWrapper {
    padding: 100px;
}

.aboutIntro, .aboutTwo, .main-text, .skills, .projects {
    opacity: 0;
}

.aboutIntro, .aboutTwo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.aboutInfo {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.aboutInfo p {
    padding: 10px 0;
}

.aboutInfo h4 {
    text-align: center;
    border-left: 4px solid rgb(0, 173, 173);
    margin-top: 50px;
    margin-left: 40px;
}

.aboutInfo h5 {
    text-align: right;
    color: rgb(126, 126, 126);
}

.aboutImg img {
    border-radius: 6px;
    width: 300px;
}

.aboutInfo img {
    border-radius: 50%;
    width: 150px;
    margin: 0 auto;
}

/* ------------------------------ skills section ----------------------- */

.skillsWrapper {
    padding: 100px;
    height: 950px;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/coding.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: white;
}

.skillsWrapper h2 {
    padding: 50px;
    border: 4px solid white;
}

.skills {
    display: flex;
    justify-content: space-evenly;
}

.buttonWrap {
    border: 4px solid white;
    transform: rotate(45deg);
    transition: all 300ms ease;
    width: 50px;
    height: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
}

.buttonWrap:hover {
    transform: rotate(0deg);
    border-radius: 50%;
}

.skills h4 {
    padding: 30px;
    font-size: 1.8rem;
}

.icons {
    display: flex;
    opacity: 0;
    flex-direction: column;
    align-items: center;
    transition: all 300ms ease;
}

.icons img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: 3px;
}

.mobileSkillsSection {
    display: none;
}

/* --------------------------------- projects section ---------------------- */

#projects {
    background-color: rgb(224, 224, 224);
}

.projectsWrapper {
    padding: 100px 150px;
    background: url('../img/LogoMakr_6PSRnI.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.gallaryNav {
    width: fit-content;
    margin: auto;
    margin-bottom: 20px;
}

.projectBtn {
    padding: 0 2rem;
    border: none;
    border-radius: 2px;
    color: white;
    font-size: 1.4em;
    background-color: grey;
}

.gallaryShowcase {
    width: 80%;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects h1 {
    width: fit-content;
    margin: auto;
    margin-bottom: 80px;
}

.project {
    width: 300px;
    height: 240px;
    margin: 5px;
    box-shadow: 2px 2px 6px rgb(70, 70, 70);
    background-color: rgb(240, 240, 240);
}

.projectInfo {
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    z-index: 1;
}

.projectImg {
    width: 300px;
    height: 240px;
    display: flex;
    flex-direction: column;
    color: #2ab7a9;
    background-color: white;
}

.projectImg img {
    width: 300px;
    height: 180px;
    filter: brightness(70%);
}

.projectInfo h6 {
    margin-bottom: 90px;
}

.projectLink {
    padding: 5px 20px;
    border: 2px solid #2ab7a9;
    width: fit-content;
    border-radius: 4px;
    color: black;
    transition: all 250ms ease;
}

.projectLink:hover {
    background-color: #2ab7a9;
    color: white;
}

.projLinks {
    display: flex;
    justify-content: space-evenly;
}

/* ----------------------- footer section ------------------------------ */

.footerText {
    padding: 70px 20px
}

/* ---------------------------- Mobile styles ------------------------- */

/* ---------------------------- 1480 ------------------------- */

@media only screen and (max-width: 1480px) {
    .projectsWrapper {
        padding: 50px 0;
    }
    .aboutImg img {
        border-radius: 6px;
        width: 200px;
    }
    .aboutInfo h2 {
        font-size: 2rem;
    }
    .aboutInfo h4 {
        font-size: 1.6rem;
    }
    .aboutInfo h5 {
        font-size: 1.4rem;
    }
}

/* ---------------------------- 1180 ------------------------- */

@media only screen and (max-width: 1180px) {
    .gallaryShowcase {
        height: 900px;
    }
    .aboutImg img {
        border-radius: 6px;
        width: 150px;
    }
    .aboutInfo p {
        font-size: .8rem;
    }
}

/* ---------------------------- 790 ------------------------- */

@media only screen and (max-width: 792px) {
    .gallaryShowcase {
        height: fit-content;
    }
    .aboutImg img {
        border-radius: 6px;
        width: 100px;
    }
    .aboutInfo {
        width: 40%;
        display: flex;
        flex-direction: column;
    }
}

/* ---------------------------- 700 ------------------------- */

@media only screen and (max-width: 700px) {
    .title {
        font-size: 1.5rem !important;
    }
    #intro1 {
        font-size: 1.6rem;
    }
    #intro2 {
        font-size: 1.2rem;
        margin-bottom: 50px;
    }
    .aboutWrapper {
        padding: 100px 0;
    }
    /* about me section */
    .aboutImg img {
        display: none;
    }
    .aboutInfo {
        width: 90%;
    }
    /* skills section */
    .mobileSkillsSection {
        display: block;
    }
    .skillsWrapper {
        padding: 100px 0;
        height: fit-content;
    }
    .skills {
        display: none;
    }
    .skillsWrapper h2 {
        padding: 10px;
        font-size: 1.4rem;
    }
    .iconsMobile {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .iconsMobile img {
        height: 100px;
        border-radius: 50%;
        margin: 5px;
    }
    /* projects section */
    .projectBtn {
        padding: 0 .5rem;
        font-size: .8em;
    }
    .projectsWrapper {
        padding: 100px 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-attachment: fixed;
    }
}